* {
    margin: 0;
    font-family: sans-serif;
    border: border-box;
    box-sizing: border-box;
}

/* @import url('https://fonts.cdnfonts.com/css/amazon-ember');

body {
    font-family: 'Amazon Ember', sans-serif;
} */

 .navbar {
    height: 60px;
    background-color: #121a23;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .nav-logo {
    height: 50px;
    width: 113px;
 }

 .logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

 }
 .border {
    border: 1px solid transparent;
 }

 .border:hover {
    border: 1px solid white;
 }
 /* box 2 */
 .add-1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
 }

 .add-2 {
    font-size: 1rem;
    margin-left: 3px;
 }

 .add-icon {
    display: flex;
    align-items: center;
 }
 /* box 3 */
 .nav-search {
    display: flex;
    background-color: pink;
    width: 700px;
    height: 40px;
    border-radius: 5px;
 }

 .search-select {
    background-color: #cccccc;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
 }


 .search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
 }

 .search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }

.nav-search:hover {
    border: 2px solid orange;
}

 /* box 4 */

 span {
    font-size: .7rem;
 }

 .nav-second {
    font-size: .85rem;
    font-weight: 700;
 }

 /* box 5 */

 .nav-cart i {
    font-size: 30px;
 }
 .nav-cart {
    font-size: .85rem;
    font-weight: 700;
 }

.panel {
    display: flex;
    align-items: center;
    background-color: #232f3e;
    color: white;
    height: 40px;
    padding: 0 20px;
    font-size: 0.85rem;
  }
  
  .panel-all {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .panel-options {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    flex-wrap: nowrap;
  }
  
  .panel-options p {
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
  }

  /* hero section */
  .hero {
    background-image: url(images/main.jpg);
    background-size: cover;
    height: 350px;
  }

  /* shop section */
  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 2opx 0px;
    }

 .shop-bg {
        background: linear-gradient(to bottom, #ef93fe 0%, #ffffff 80%);
        padding: 2rem 0;
      }
          

  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    height: 400px;
    width: 23%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .box1 h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .box1-img {
    width: 100%;
    height: auto;
    flex-grow: 1;
    object-fit: contain;
  }
  
  .box1 a {
    color: #007185;
    text-decoration: none;
    margin-top: 10px;
  }

  .box1 a:hover {
    text-decoration: underline;
  }

  footer {
    margin-top: 15px;
  }

  .foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
  }
  
  .foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    margin-top: 20px;
  }

  ul a {
    display: block;
    font: .85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
    transition: text-decoration .3s ease;
  }

  ul a:hover {
    text-decoration: underline;
  }

  .foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: .5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo1 {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
  }

  .foot-panel4 {
    background-color: #121a23;
    color: white;
    height: 78px;
    font-size: .7rem;
    text-align: center;
    padding-left: 10px;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the whole section */
    gap: 40px; /* space between columns */
    background-color: #131A22; /* Amazon footer dark background */
    padding: 40px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    width: 180px; /* same width for each block */
    transition: color 0.2s;
  }
  
  .footer-link:hover .link-title,
  .footer-link:hover .link-description {
    color: #ccc;
    text-decoration: underline;
  }
  
  .link-title {
    font-size: 14px;
    color: white;
    margin-bottom: 4px;
  }
  
  .link-description {
    font-size: 13px;
    color: #999;
    line-height: 1.4;
  }
  
  
  .pages {
    padding-top: 25px;
  }

  .pages a {
    text-decoration: none;
    color: white;
  }
  .pages a:hover {
    text-decoration: underline;
  }
  .copyright {
    padding-top: 5px;
  }